body{
    background-color: #cff09e
}

h1{color: #3b8686;}
h2, h3{color: #3b8686;}

a:link {color:#3d03fc;}
a:visited {color: #83b06f;}
a:hover{color: #6f9ab0;}

p{color: #3d03fc;
    width: 400px;
}

nav{
    background-color: #b7dded;
    width: 130px;
    padding: 10px;
    margin: 30px;
    border: 5px solid #000000;
}

nav a {color: #3d03fc;}
nav a:hover {background-color: #e9f2ef;}

.symbol {float:left;}
.quote {float:right;}

.address {float: left;}

.section1 {background-color: #C0C0C0;
            padding: 10px;
            margin:30px;
            border: 5px solid #b7dded;
}
.section1 {border-radius: 3%;}

.part2 {display: flex; flex-wrap: wrap;
        padding: 10px;
        margin: 30px;
        border: 5px solid #b7dded;
        justify-content: space-around;
}

.part2 {background-color: #C0C0C0;}
.part2 {border-radius: 3%;}

.clear {clear: both;}

.header {max-width: 100%;}

#skip {
    position: absolute;
    left: -999px;
    background-color: white;
    border: 1px solid black;
}

#skip:focus {
    position: absolute;
    left: 10px;
}

@media only screen and (min-width: 920px){}
@media only screen and (max-width: 600px){}

