body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    color:violet;
    font-size: 2.5em
}

h2{
    color:slateblue;
    font-size: 1.5em 
}


.special{background-color:wheat}

.evenrow{background-color:skyblue}